
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /chapters/{chapterId} {
      allow read: if true;
      allow write: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';

      // Allow authenticated users to like a chapter
      match /likes/{userId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
      allow update: if request.auth != null && request.auth.uid == userId;
      // Admins can read other user profiles
      allow get: if request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // Allow anyone to subscribe to the mailing list
    match /subscriptions/{subscriptionId} {
      allow create: if true;
    }
  }
}
